@import '../../global/index.css';

.button-primary {
    background-color: #74022D;
    color: white;
    font-size: 3rem;
    width: 15rem;
    padding-block: 1rem;
    text-align: center;
    border-radius: 10px;
}

.button-primary:hover {
    background-color: #74022D;
    text-decoration: "black";
}