@import '../../global/index.css';

.icon-button-nav {
    display: grid; 
    grid-template-columns: 1fr 10fr;
    gap: 10px;
    background-color: none; /* Fondo transparente */
    border: none;     /* Sin borde */
    cursor: pointer;  /* Cursor tipo mano */
    padding: 0;       /* Sin relleno */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
    background-color: #123456;
}

.icon-button .material-symbols-outlined {
    display: flex;
    font-size: 50px; /* Tamaño del ícono */
    color: white;    /* Color del ícono */
  }

.text {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}
  
  /* Estilo para el estado hover */
  .icon-button:hover .material-symbols-outlined {
    color: #ffffff; /* Cambia el color del ícono al pasar el cursor */
    
  }