@import '../../global/index.css';

.button-primary {
    background-color: #123456;
    color: white;
    font-size: 3rem;
    width: 15rem;
    padding-block: 1rem;
    text-align: center;
    border-radius: 10px;
}

.button-primary:hover {
    background-color: #D39E00;
    text-decoration: "black";
}

.filaParrafo {
    border-radius: 10;
    border-width: 20;
    border-color: "white";
    width: 300;
    height: 60;

}