@import '../../global/index.css';

.input-container {
    background-color: white;
    width: 24rem;
    height: auto;
    padding-block: 2rem;
    font-size: 2rem;
    border-radius: 1.4rem;
    text-align: center;
}